/*
* stylesheet
*/

*{
	padding: 0 !important;
	margin: 0 !important;
}

.navigation-fixed{
	display: flex;
	flex-direction: row;
	height: 100px;
	background-color: #000;
	border-bottom: 4px solid gold;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

/* ROOT CONTAINER */

.root-container{
	min-height: calc(100vh - 300px);
}

/* FOOTER */
.footer-container{
	background-color: #000;
	min-height: 200px;
}

.footer-navigation{
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-navigation h6{
	color: #efefef;
}

.footer-col{
	display: flex;
	flex-direction: row;
}

.copyright-container{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #efefef;
	width: 100%;
	height: calc(50% - 1px);
}

.copyright-container p{
	color: #FFF;
}

.footer-logo-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.logo-footer{
	width: 100px;
	height: auto;
}